#cocktails{
    position: relative;
    max-width: $xx-width;
    margin: auto;
    .left, .right{
        padding: 2rem 1rem;
    }
    .left{
        max-width: 40%;
        .cocktail-list{
            li{
                font-size: $xxx-large;
                font-weight: $light;
                padding-bottom: .5rem;
                cursor: pointer;
            }
        }
    }
    .right{
        width: 50%;
        max-width: $ys-width;
        position: fixed;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        .container{
            background-color: var(--clear-white);
            display: flex;
            flex-direction: column;
            justify-content: center;    
            padding:2rem 1rem;
            border-radius: 1rem;
            backdrop-filter: blur(10px);
        }
        .img-container{
            width: 50%;
            // overflow: hidden;
            margin: auto;
            img{
                height: auto;
                width: 100%;
                border-radius: 5rem;
            }
        }
        .name{
            font-size: $xxxx-large;
            text-align: center;
            margin-bottom: 2rem;
            letter-spacing: 5px;
            font-weight: $w-regular;
        }
        .ingredience {
            padding: 2rem 0;
            tbody{
                tr{
                    display: flex;
                    td{
                        flex: 0 0 50%;
                        padding: .5rem;
                        font-size: $regular;
                        font-weight: $light;
                        &:first-child{
                            text-align: right;
                            position: relative;
                            &:after{
                                content: '';
                                position: absolute;
                                height: 110%;
                                width: 1px;
                                right: 0;
                                top: 0;
                                background-color: var(--white);
                            }
                        }    
                    }
                }
            }    
        }
        .about{
            max-width: 70%;
            margin: auto;
            font-size: $large;
            font-weight: $light;
        }
    }
}