* {
  --blue: #00a2e8;
  --blue-clear: #00a2e86a;
  --black: #000000;
  --off-black: #434343;
  --grey: #999999;
  --white: #ffffff;
  --clear-white: #ffffff6b;
  --off-white: #fafafa;
  --clear-off-white: #e1e1e182;
  --clear-white: #ffffff78;
  --clear-red: #ff00006b;
  --clear-green: #00ff1135;
  --green: #093d0cd3;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth; }
  * ::-webkit-scrollbar {
    display: none; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

ul, ol, li, p {
  padding: 0;
  margin: 0;
  list-style: none; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h3 {
  margin-bottom: 1rem; }

p, li {
  line-height: 1.5; }

button, input, textarea, select {
  border: none;
  background: none; }
  button:focus, input:focus, textarea:focus, select:focus {
    outline: none; }

.navigation {
  position: fixed;
  height: 100%;
  width: 100%;
  top: -100%;
  background: var(--clear-white);
  z-index: 10;
  backdrop-filter: blur(1px);
  transition: all 1s ease; }
  .navigation ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem; }
    .navigation ul li {
      margin: 0 auto;
      width: fit-content;
      font-size: 300%;
      color: var(--off-white);
      text-shadow: 1px 1px 10px var(--black); }
  .navigation.open {
    backdrop-filter: blur(10px);
    top: 0; }

.navigation-button {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 100;
  top: .5rem;
  transition: top 1s ease; }
  .navigation-button.open {
    top: 95%; }

#cocktails {
  position: relative;
  max-width: 1500px;
  margin: auto; }
  #cocktails .left, #cocktails .right {
    padding: 2rem 1rem; }
  #cocktails .active {
    color: var(--clear-red) !important;
    text-shadow: 0px 0px 1px var(--white) !important; }
  #cocktails .left {
    max-width: 40%; }
    #cocktails .left .alphabet {
      position: fixed;
      height: 100%;
      width: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: all 1s ease;
      overflow: hidden;
      top: 0;
      animation: slide-down .5s ease; }
      #cocktails .left .alphabet .letter {
        text-align: center;
        cursor: pointer;
        font-size: 80%;
        font-weight: 300;
        color: var(--clear-white);
        text-shadow: 0px 0px 1px var(--black);
        position: relative;
        backdrop-filter: blur(10px); }
        #cocktails .left .alphabet .letter:hover::after {
          left: 0; }
        #cocktails .left .alphabet .letter::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 150%;
          background-color: var(--clear-off-white);
          top: -25%;
          left: -100%;
          transition: all .5s ease; }
      #cocktails .left .alphabet:hover {
        background-color: var(--white); }
    #cocktails .left .cocktail-list {
      margin-left: 3rem;
      overflow-y: hidden; }
      #cocktails .left .cocktail-list .item {
        font-size: 300%;
        font-weight: 300;
        padding-bottom: .5rem;
        cursor: pointer;
        width: fit-content;
        position: relative;
        transition: all .2s ease;
        left: 0;
        animation: slide-right 1s ease; }
        #cocktails .left .cocktail-list .item:hover {
          letter-spacing: 5px; }
  #cocktails .right {
    width: 50%;
    max-width: 800px;
    position: fixed;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    animation: slide-left .5s ease; }
    #cocktails .right .container {
      background-color: var(--clear-white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem 1rem;
      border-radius: 1rem;
      backdrop-filter: blur(10px); }
    #cocktails .right .img-container {
      width: 50%;
      margin: auto; }
      #cocktails .right .img-container img {
        height: auto;
        width: 100%;
        border-radius: 5rem; }
    #cocktails .right .name {
      font-size: 400%;
      text-align: center;
      margin-bottom: 2rem;
      letter-spacing: 5px;
      font-weight: 400; }
    #cocktails .right .ingredience {
      padding: 2rem 0; }
      #cocktails .right .ingredience tbody tr {
        display: flex; }
        #cocktails .right .ingredience tbody tr td {
          flex: 0 0 50%;
          padding: .5rem;
          font-size: 110%;
          font-weight: 300; }
          #cocktails .right .ingredience tbody tr td:first-child {
            text-align: right;
            position: relative; }
            #cocktails .right .ingredience tbody tr td:first-child:after {
              content: '';
              position: absolute;
              height: 110%;
              width: 1px;
              right: 0;
              top: 0;
              background-color: var(--white); }
    #cocktails .right .about {
      max-width: 70%;
      margin: auto;
      font-size: 150%;
      font-weight: 300; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes slide-right {
  0% {
    left: -100%; }
  100% {
    left: 0; } }
@keyframes slide-down {
  0% {
    top: -100%; }
  100% {
    top: 0; } }
@keyframes slide-left {
  0% {
    right: -100%; }
  100% {
    right: 10%; } }
@keyframes pulse-padding {
  0% {
    padding: 1rem; }
  50% {
    padding: 1.4rem; }
  100% {
    padding: 1rem; } }
#submit {
  background: var(--clear-white);
  backdrop-filter: blur(10px);
  max-width: 45rem;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 2rem 0 0;
  left: 10%;
  border-radius: 1rem;
  box-shadow: 0 0 10px var(--grey);
  overflow: hidden; }
  #submit .form {
    width: 100%; }
  #submit .form-inner {
    display: flex;
    flex-direction: column;
    padding: 0 1rem; }
  #submit .ingredients {
    max-height: 15rem;
    overflow-y: scroll; }
    #submit .ingredients .ingredient {
      margin: 1rem 0; }
      #submit .ingredients .ingredient input:nth-last-of-type(odd) {
        float: right; }
  #submit .title {
    font-size: 400%;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    font-weight: 400; }
  #submit .buttons {
    display: flex;
    justify-content: flex-end; }
    #submit .buttons .add {
      background-color: var(--clear-green); }
    #submit .buttons .remove {
      background-color: var(--clear-red);
      margin-left: 1rem; }
    #submit .buttons .button {
      padding: .75rem 1rem;
      border-radius: .5rem;
      cursor: pointer; }
  #submit .submit {
    width: 100%;
    background: var(--grey);
    font-size: 150%;
    padding: .5rem 0;
    margin-top: 1rem;
    cursor: pointer; }
  #submit label {
    font-size: 110%; }
  #submit input,
  #submit textarea {
    border: 1px solid var(--black);
    padding: .75rem;
    margin-bottom: .5rem;
    border-radius: .5rem; }
  #submit textarea {
    resize: none;
    height: 5rem; }

#background {
  position: fixed;
  right: 0;
  top: -15%;
  z-index: -1;
  width: 100%;
  height: 150vh; }
  #background img {
    position: absolute;
    right: 0;
    width: auto;
    min-width: 100%;
    height: 130vh; }

.arrow {
  border: solid var(--off-black);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 1rem;
  transition: padding .5s ease-in-out, transform .2s ease-in; }
  .arrow:hover {
    animation: pulse-padding 1.2s infinite ease-in-out; }
  .arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); }
  .arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg); }
  .arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg); }
  .arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20%; }

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite; }

/*# sourceMappingURL=index.css.map */
