#submit{
    background: var(--clear-white);
    backdrop-filter: blur(10px);
    max-width: 50rem;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    padding: 2rem 0 0;
    left: 10%;
    border-radius: 1rem;
    box-shadow: 0 0 10px var(--grey);
    overflow: hidden;
    animation: slide-right-10 1s ease;
    .form{
        width: 100%;
    }
    .form-inner{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    .ingredients{
        max-height: 15rem;
        overflow-y: scroll;
        position: relative;
        .ingredient{
            display: flex;
            margin: 1rem 0;
            .measure{
                flex: 20%;
            }
            .item{
                flex:80%;
                margin-left: 1rem;
            }
            input:nth-last-of-type(odd){
                float: right;
            }
        }
    }
    .title{
        font-size: $xxxx-large;
        text-align: center;
        margin:0 1rem 2rem;
        letter-spacing: 2px;
        font-weight: $w-regular;
    }
    .buttons{
        display: flex;
        justify-content: flex-end;
        margin: .5rem 0;
        .add{
            background-color: var(--clear-green);
            box-shadow: 0 0 5px var(--clear-green);
            &:hover{box-shadow: 0 0 15px var(--clear-green);}
        }
        .remove{
            background-color: var(--clear-red);
            box-shadow: 0 0 5px var(--clear-red);
            margin-left: 1rem;
            &:hover{box-shadow: 0 0 15px var(--clear-red);}
        }
        .button{
            padding: .75rem 1rem;
            border-radius: .5rem;
            cursor: pointer;
            transition: all .2s ease-in-out;
        }
    }
    .submit{
        width: 100%;
        background-color: var(--grey);
        font-size: $xx-large;
        padding: 1rem 0;
        margin-top: 1rem;
        cursor: pointer;
        color: var(--white);
        transition: all 1s ease;
        &:hover{
            background-color: var(--clear-green);
        }
    }
    label{
        font-size: $regular;
        width: 100%;
    }
    input,
    textarea{
        border-bottom: 1px solid var(--grey);
        padding: .75rem;
        margin-bottom: .5rem;
        font-size: $regular;
    }

    textarea{
        resize: none;
        height: 5rem;
    }
}